In [4]:
import yfinance as yf

In [1]:
file = open('../data/insiderTradingDataFull.csv','r')
scrapedinfo=[]
for line in file:
    splitLine = line.split(',')
    scrapedinfo.append(splitLine)

In [2]:
print(scrapedinfo[1])
stock=scrapedinfo[1][2]
print('done')

['2023-05-12 21:31:30', '2023-05-12', 'DVA', 'Davita Inc.', 'Yale Phyllis R', 'Dir', 'S - Sale+OE', '$95.26', '-2196', '13110', '-14%', '-$209195', '\n']
done

In [5]:
stockInfo=yf.Ticker(stock)
stockInfo.history(start="1980-01-01", end="2023-05-15", interval='1d')[['Open','Close']]

                  Open       Close
Date
1995-10-31    3.475000    4.075000
1995-11-01    3.900000    3.900000
1995-11-02    3.950000    4.175000
1995-11-03    4.175000    4.000000
1995-11-06    3.975000    3.900000
...                ...         ...
2023-05-08   88.000000   89.209999
2023-05-09   97.160004  100.720001
2023-05-10  101.500000   99.269997
2023-05-11   98.760002   95.589996
2023-05-12   95.629997   93.720001

[6931 rows x 2 columns]